*,body,html{
    margin: 0;
    padding: 0;
}

/* width control */
.w50{
    width: 50%;
}
.w20{
    width: 20%;
}
.w100{
    width: 100%;
}
.wfit{
    width: fit-content;
}
/* height control */
.h45p{
    height: 45px;
}
/* Padding control */
.p10{
    padding: 10px;
}
.p15{
    padding: 15px;
}
.p20{
    padding: 20px;
}

/* Margin control */
.mt10{
    margin-top: 10px;
}
.mt50{
    margin-top: 50px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mr2{
    margin-right: 2px;
}
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.ml20{
    margin-right: 20px;
}
.ml50{
    margin-left: 50px;
}
.ml80{
    margin-left: 80px;
}
/* Outline control */

.ot0{
    outline: none;
}

/* Input field control */
.short-input{
    width: 100%;
    
}
/* Shadow control */
.noshadow{
    box-shadow: none;
}
/* Border control */

.rounded{
    border: 1px solid #707070;
    border-radius: 5px;
}
.noborder{
    border: none;
}

/* Background control */
.bg0{
    background-color: black;
}
.bg1{
    background-color: white;
}

/* Display control */
.spacebetween{
    display: flex;
    justify-content: space-between;
}

.displayed{
    display: block;
}
.hidden{
    display: none;
}

.noselect{
    user-select: none;
}

/* Fade control */
.fade{
    animation: linear 0.3s fade;
}
@keyframes fade {
    from{
        opacity: 0.5;
    }to{
        opacity: 1;
    }
}
/* Responsiveness */
.responsive{
    width: 100%;
}


/* Buttons */
.button{
    padding: 10px 40px 10px 40px;
}

.button-pink-outline{
    background: none;
    border: 1px solid #FF8E9A;
}
.button-pink-outline:hover{
    background: linear-gradient(45deg,#FFBF00,#FF8E9A);
    color: #fff;
    transition: all ease-in-out 0.1s;

}
.hoverShow{
    opacity: 0;
}
.button-pink-outline:hover .hoverShow{
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
}
