.footer{
    background-color: #282828;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

.column{
    width: 25%;
}
.footer>.column>ul{
    list-style: none;
}
.footer>.column>ul>li{
    margin-top: 20px;
    cursor: pointer;
    color: #f5f5f5;
}

.copy{
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}