html,body,*{
  margin: 0;
  padding: 0;
}
.showInfo{
  position: absolute;
  width: fit-content;
  top: 15%;
  left: 100%;
  transform: translate(-100%,-15%);
  z-index: 999;
  background-color: tomato;
  color: #fff;
  padding: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.noOpacity{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.productDisplaySection{
  padding: 50px 0px 10px 0px;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.imageSection{
  width: 40%;
}
.imageSection>img{
  transform: scale(0.8);
  width:100%;
}

.introTextSection{
  padding-top: 5%;
  width: 30%;
}
.rating{
  color: gray;
}
.ratingStarActive{
  color: tomato;
}
.inStock{
  color: #1A7E2B;
}
.paymentList{
  list-style-type: none;
}
.paymentList>li{
  margin-bottom: 5px;
  cursor: pointer;
}
.paymentList>li>i{
  margin-right: 10px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span:first-child {
  font-size: 26px;
  font-weight: 300;
  color: tomato;
  margin-right: 20px;
}
.keyFeaturesSection{
  padding: 30px 30px 20px 50px;
}
.contentsKeyFeatures{
  display: flex;
  justify-content: space-between;
}
.productDescription{
  width: 40%;
}
.specs{
  width: 40%;

}
.specsList{
  list-style-type: none;
}
.specsList>li{
  margin-bottom: 10px;
}
.icon{
  width: 15px;
  margin-right: 10px;
}
/* Cards */
.someOtherProducts{
  background-color: #F5F5F5;
  padding: 10px 20px 20px 20px;
}
.productListSection{
  display: flex;
  width: 100%;

}
.card{
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 15%;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}
.card:hover{
  box-shadow: 0px 0px 5px #ccc;
  transition: all ease 0.3s;
}
.card>img{
  margin-top: 20px;
  width: 70%;
}

.card>h3,.card>p{
  padding: 10px;
}
.priceTagGreen{
  color: #75EB4C;
}
.priceTagPink{
  color: #FF0274;
}
.card>.pricetag{
  padding: 10px;
  color: tomato;
}

@media screen and (max-width:1000px) {
  .card{
      width: 20%;
  }
}
@media screen and (max-width:800px) {
  .card{
      width: 70%;
  }
  .productListSection{
      display: grid;
      align-items: center;
  }
  .productsSection{
      margin-top: 20px;
  }
  .laptops{
      width: 100%;

      text-align: center;
  }
  .components{
      width: 100%;
      text-align: center;
  }
  .pc{
      width: 100%;
      text-align: center;
  }
  
}
@media screen and (max-width:500px) {
  .card{
      width: 80%;
  }
  .productListSection{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

