@import url("./font.css");

.anchor{
    cursor: pointer;
}

.text-white{
    color: white;
}
.text-70{
    color: #707070;
}
.text-black{
    color: #000000;
}

.text-center{
    text-align: center;
}

.font-medium{
    font-family: mmedium;
}
.font-bold{
    font-family: mbold;
}

.font-regular{
    font-family: mregular;
}
.font-italic{
    font-family: mitalic;
}

.text-medium{
    font-size: 24px;
}

.text-small{
    font-size: 12px;
}